.migrations ul.tree, ul.tree ul {
  list-style-type: none;
  background: url('../images/vline.png') repeat-y;
  margin: 0;
  padding: 0;
}

.migrations ul.tree ul {
  margin-left: 10px;
}

.migrations ul.tree li {
  margin: 0;
  padding: 0 12px;
  line-height: 20px;
  background: url('../images/node.png') no-repeat;
  color: #121519;
  font-weight: bold;
}
.migrations ul.tree li:last-child {
  background: #f9f9f9 url('../images/lastnode.png') no-repeat;
}

.migrations .url-span {
  font-size: 85%;
  color: grey;
}